{% extends 'base.html'%}

{% block styles%}
    {{ super() }}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Rajdhani:wght@300;400&family=Sacramento&family=Staatliches&family=Tajawal:wght@200;300&family=Zen+Kurenaido&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">  
      
    
{% endblock %}
<body>
{% block content %}
<div class="container">
    <div class="row">
        <blockquote class="quotes text-center text-lg">
            <h5 class="qoute mt-5" style="font-family: 'Rajdhani', sans-serif; font-size: 25px; font-weight: 200; color: #434548; background-color: #d0d6d3"> <strong> " {{quote.quote}} " </strong> </h10>
            <footer class="author" style="font-size: 20px; font-family: 'Sacramento', cursive;"><cite> by {{quote.author}}</cite></footer>
        </blockquote> 
    </div>

    <br> <br>
    <a class="navbar-brand" href="blog/new" style="font-family: 'Josefin Slab', serif; font-size: 50px; color: #85C1E9" ><strong> Post Your Blog </strong></a> <br> <br> <br> <br> <br><br>
    <div class="row">
    <div class="col-md-6" style="border-style: inset;border-width: 7px; border-color: #626567">
        {{macro.displayBlogs(blogs)}}  <br><br>
    </div>
        <div class="col-md-1"></div>
        <div class="col-md-5" style="border-style: outset;border-width: 7px; border-color: #626567">
            <h2 style="font-family: 'Josefin Slab', serif; font-size: 30px; color: #85C1E9"><strong> Subscribe here </strong> </h2>
            <p style="font-family: 'Josefin Slab', serif; font-size: 20px" >You will get an Email every time new post has been posted.</p>
        {{wtf.quick_form(subscription_form)}} <br>
        </div>
        <!-- <div class="col-md-2"></div> -->
    </div>
</div> <br> <br>
<footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3" style="text-align: center; font-family: 'Zen Kurenaido', sans-serif; color:#ffffff; font-size: 30px; "> © 2022 Copyright </div>
</footer>
</body>
{% endblock %}